Source: python-watchfiles
Maintainer: André Roth <neolynx@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), dh-python, python3-setuptools, python3-all, dh-cargo, librust-crates-io-dev, git
Standards-Version: 3.9.7

Package: python3-watchfiles
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: python watchfiles
