#!/usr/bin/make -f

export PYBUILD_NAME = python3-watchfiles

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf target

override_dh_auto_build:
	CARGO_HOME=/tmp cargo build --offline
	dh_auto_build

override_dh_auto_test:
